<h2>Create New Board</h2>
<h2>User Name: <%= @user.name %></h2>
<%# <form action="/board/new" method="POST">

<label>Figure Name:</label>
<input type="text" name="board[name]" id = "board_name"> %>

<h2>User Preferences:</h2>
<h2>"STRATEGY LIST"</h2>
<h3>For mix strategy enter the number of your shoosen strategy (1-4) to every single ticket number and powerball(last number)</h3>
<ul>
  <li>For rarely dropped numbers strategy, enter 1.</li>
  <li>For frequently dropped numbers strategy, enter 2.</li>
  <li>For long-standing numbers strategy, enter 3.</li>
  <li>For your lucky days strategy, enter 4.</li>
</ul>


<%# 
<link rel="stylesheet" href="stylesheets/styles2.css">
<input type="radio" name="item" checked="checked" id="section1" />
        <input type="radio" name="item" id="section2" />
        <input type="radio" name="item" id="section3" />
        <input type="radio" name="item" id="section4" />

        <nav class="nav">
            <label class="nav__item" for="section1"></label>
            <label class="nav__item" for="section2"></label>
            <label class="nav__item" for="section3"></label>
            <label class="nav__item" for="section4"></label>
        </nav>

        <section>
            <h1>Single Page</h1>
        </section>
        <section>
            <h1>Pure CSS</h1>
        </section>
        <section>
            <h1>Full Screen</h1>
        </section>
        <section>
            <h1>@ab's_WebZone</h1>
        </section>

        <div class="cover"></div>

Number_1:
Number_2:
Number_3:
Number_4:
Number_5:
Power Ball:

User Lucky Days:
Day_1:
Day_2:
Day_3:


Your resolt:
numbers:
Power Ball:


button => account
button => new_board %>