<h2>Board Name:</h2>
User Name:

User Preferences:
Number_1:
Number_2:
Number_3:
Number_4:
Number_5:
Power Ball:

User Lucky Days:
Day_1:
Day_2:
Day_3:


Your resolt:
numbers:
Power Ball:


button => account
button => new_board