<!DOCTYPE html>

 <html class="no-js" lang="en"> 
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>SinatraLotteryStrategy</title>

    <%# <meta name="viewport" content="width=device-width, initial-scale=1.0" /> %>
  
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">

        <%= yield %>

      <br>
      <br>
      <footer>
    <a href="https://github.com/art-0007/sinatra_lottery_strategy" class="social-link" target="_blank">
      Github Repo
    </a>
    <a href="https://i96959.wixsite.com/website" class="social-link" target="_blank">
      .      Blog Post
    </a>
    <a href="https://youtu.be/r62SgOL6QKA" class="social-link" target="_blank">
       .     Video Demo
    </a>
    </footer>

    <footer class="branding">
        <small>&copy; 2021 <strong>SinatraLotteryStrategy</strong></small>
    </footer>
    </div>

    <%# <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> %>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
